<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\S3Innovate\FMCCALL\Deploy\2016-12-01\FMCCWebPackage\Fmcc.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FMCCDataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=rbsapp7864.cloudapp.net;Initial Catalog=FMCC;User ID=sa;Password=S#!nnovate;Application Name=EntityFramework" Name="Data Source=rbsapp7864.cloudapp.net;Initial Catalog=FMCC;User ID=sa;Password=S#!nnovate;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Fmcc.Models.EntityDataModel.FMCCDataContext, FMCC_cushman" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FMCCDataContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityDataModel.FMCCDataModel.csdl|res://*/Models.EntityDataModel.FMCCDataModel.ssdl|res://*/Models.EntityDataModel.FMCCDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=rbsapp7864.cloudapp.net;Initial Catalog=FMCC;User ID=sa;Password=S#!nnovate;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>