<div cass="content">
    <div class="col-md-12">
        <div class="row">
            <div col-md="12">
                <div class="box box-default" style="margin-bottom: 0px;">
                    <div class="box-header with-border">
                        <i class="fa fa-user-secret"></i>
                        <h3 class="box-title"> Overall Power Consumption Unit </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="padding: 30px 15px 10px;">
                        <div class="row">
                            <div class="col-md-12">
                                <form name="powerForm" novalidate="novalidate" class="clearfix" style="border-bottom: 1px solid #f4f4f4; padding-bottom: 20px;">
                                    <div class="row">
                                        <div class="col-md-7 no-padding">
                                            <div class="form-group clearfix">
                                                <div class="col-sm-12 control-label">
                                                    Unit Name
                                                </div>
                                                <div class="col-sm-12">
                                                    <select id="unitName" class="form-control input-sm" required>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <select id="unitValue" class="form-control input-sm" required>
                                                <option></option>
                                                <option>Ja Janen</option>
                                                <option>Ja Janen</option>
                                                <option>Ja Janen</option>
                                                <option>Ja Janen</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!--div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</!--div>-->


<!-- Modal -->


