<div class="content" style="background-color: #f4f8fe;">
    <div class="row" style="background-color: #f4f8fe;">
        <div class="col-md-12" style="background-color: #f4f8fe;">
            <iframe src="https://app.powerbi.com/view?r=eyJrIjoiMWU5OWZlNWMtYzNlNi00OGY0LThjYmUtMjBlYzdlODE2NzZlIiwidCI6IjExNTA1MTc4LTZhZDctNDhiMS1hNTVkLTkzNWNhYTFmMTBmYSIsImMiOjEwfQ%3D%3D" width="100%" height="860px" frameborder="0">
                <p>Your browser does not support iframes.</p>
            </iframe>
        </div>
    </div>

</div>
