<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default" style="margin-bottom:0px;">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="box-title">Water Consumption({{totalWaterConsumption.timerange}})</h3>
                        </div>
                        <div class="col-md-8">
                            <div class=" col-mid-2 box-tools pull-right" style="float:right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                            <div>
                                <select id="block-selector" ng-model="block" class="report-select" style="">
                                    <option value="-1">Overall</option>
                                    <option ng-repeat="block in blockesList" value={{block.Id}}>{{block.Name}}</option>
                                </select>
                            </div>
                            <div>
                                <button ng-click="nextDateSlot()" class="btn btn-secondary" style="float: right;height: 35px;border: 1px solid #d2d6de;">></button>
                            </div>
                            <div>
                                <select id="date-selector" ng-model="date" class="report-select">
                                    <option value="lastweek">Last Week</option>
                                    <option value="lastmonth">Last Month</option>
                                </select>
                            </div>
                            <div>
                                <button ng-click="previousDateSlot()" class="btn btn-secondary" style="float: right;height: 35px;border: 1px solid #d2d6de;"><</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body" style="padding:10px 15px 30px;">
                    <div class="row">
                        <div class="col-md-3 nopadding">
                            <div class="info-box info-box-custom" style="">
                                <span class="info-box-icon bg-aqua"><i class="fa fa-calculator"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Total</span>
                                    <span class="info-box-number"> {{totalWaterConsumption.value}}</span>
                                    <!--<span class="info-box-number"> {{totalWaterConsumption.value}} <small>m</small><sup>3</sup></span>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 nopadding">
                            <div class="info-box info-box-custom" style="">
                                <span class="info-box-icon bg-blue"><i class="fa fa-hand-o-up"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Highest</span>
                                    <span class="info-box-number"> {{highestWaterConsumption.block}} ({{highestWaterConsumption.value}})</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 nopadding">
                            <div class="info-box info-box-custom" style="">
                                <span class="info-box-icon bg-green"><i class="fa fa-hand-o-down"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Lowest</span>
                                    <span class="info-box-number"> {{lowestWaterConsumption.block}} ({{lowestWaterConsumption.value}})</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 nopadding">
                            <div class="info-box info-box-custom" style="">
                                <span class="info-box-icon bg-red"><i class="fa fa-bell"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Alert</span>
                                    <span class="info-box-number"> {{totalAlert}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 nopadding">
                            <div class="chart-box">
                                <div id="waterconsumptioncomparison" style="height:98%;width:98%;text-align:center"></div>
                            </div>
                        </div>
                        <div class="col-md-6 nopadding">
                            <div class="chart-box">
                                <div id="waterconsumptionbreakdown" style="height:98%;width:98%;text-align:center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12  nopadding">
                            <div class="table-box">
                                <table id="alert-list" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Block</th>
                                            <th>Title</th>
                                            <th>Object Data field</th>
                                            <th>Severity</th>
                                            <th>Timestamp</th>
                                            <th>Condition</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
